<div class="page-header clear-filter" filter-color="orange">
  <div class="page-header-image" style="background-image:url(/images/login.jpg)"></div>
  <div class="content">
    <div class="container">
      <div class="col-md-4 ml-auto mr-auto">
        <div class="card card-login card-plain">
          <%= form_tag(main_attempt_login_path, :method => :post) do %>
            <div class="card-header text-center">
              <div class="logo-container">
                <img class="rounded-circle img-raised" src="/images/meditation_logo.png" alt="">
              </div>
            </div>
            <div class="card-body">
              <% if notice %>
              <div class="alert alert-danger" role="alert">
                <div class="container">
                  <strong>Ups... <%= notice %></strong>
                </div>
              </div>
              <% end %>
              <div class="input-group no-border">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="now-ui-icons ui-1_email-85"></i>
                  </span>
                </div>
                <%= text_field_tag(:email, params[:email],:type => "text" , :class => "form-control", :placeholder => "Email...") %>
              </div>
              <div class="input-group no-border">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="now-ui-icons objects_key-25"></i>
                  </span>
                </div>
                <%= password_field_tag(:password, params[:password],:type => "password" , :class => "form-control") %>
              </div>
<!--              <div class="form-check">
                <label class="form-check-label">
                  <input name="cache_login" id="cache_login" class="form-check-input" type="checkbox" checked>
                  <span class="form-check-sign"></span>
                  <small>Beni Hatırla</small>
                </label>
              </div> -->
              <div class="text-center">
                <button class="btn btn-primary btn-round btn-lg btn-block" type="submit">Giriş</button>
              </div>
              <div class="pull-left">
                <h6>
                  <a href="/main/register" class="link">YENİ HESAP OLUŞTUR...</a>
                </h6>
              </div>

              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
